.bookE,
.phbookThinIcon {
  position: relative;
  flex-shrink: 0;
}
.phbookThinIcon {
  width: 47px;
  height: 36px;
  overflow: hidden;
}
.bookE {
  letter-spacing: 0.04em;
  display: inline-block;
  width: 125px;
  height: 49px;
  cursor: pointer;
}
.icon {
  width: 626px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.homePage1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: var(--font-size-base);
  font-family: var(--font-secular-one);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.aboutUs,
.homePage1 {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 150%;
}
.frameIcon {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.logOut,
.profile {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.profile {
  width: 104.5px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.logOut {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.04em;
  line-height: 150%;
  font-family: var(--font-secular-one);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 69px;
  flex-shrink: 0;
}
.vectorIcon {
  position: relative;
  width: 16px;
  height: 20px;
}
.button,
.logout,
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logout {
  width: 88.38px;
  height: 24px;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.button,
.navbar {
  width: 654px;
  justify-content: space-between;
  font-size: var(--font-size-base);
  font-family: var(--font-secular-one);
}
.navbar {
  margin: 0;
  position: absolute;
  top: 5px;
  left: 35px;
  width: 1280px;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-8xl);
  color: var(--color-white);
  font-family: var(--font-amita);
}
.bgRestIcon {
  position: absolute;
  top: 59px;
  left: 0;
  width: 1355px;
  height: 629px;
  overflow: hidden;
}
.search {
  background-color: transparent;
  position: absolute;
  top: 185px;
  left: 991px;
}
.vectorIcon1 {
  position: absolute;
  height: 62.5%;
  width: 83.33%;
  top: 18.75%;
  right: 8.33%;
  bottom: 18.75%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fluentarrowImport24Filled {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 430px;
  left: 1276px;
  width: 68px;
  height: 71px;
  overflow: hidden;
}
.bookSection {
  position: absolute;
  top: 250px;
  left: 11px;
  width: 100%;
  height: 438px;
}
.homePage {
  position: relative;
  background-color: var(--color-gray-400);
  width: 100%;
  height: 710px;
  overflow: auto;
}
.bookInfo {
  /* Add your styling properties here */
  /* For example: */
  font-size: 10px;
  margin-top: 10px;
  color: #d61414;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 700px;
  margin-bottom: 20px; /* Add this line to place the pagination at the bottom */
}

.pageButton {
  background-color: #e0e0e0;
  border: none;
  color: #333;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  align: left;
}

.pageButton:hover {
  background-color: #ccc;
}

.currentPageButton {
  background-color: #1df659;
  border: none;
  color: #fff;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}