.aploaderPicIcon,
.uploaderChild {
  position: absolute;
  top: 0;
  left: 64px;
  border-radius: var(--br-3xs);
  width: 201px;
  height: 267px;
  object-fit: cover;
}
.aploaderPicIcon {
  top: 50px;
  left: 116px;
  border-radius: var(--br-11xl);
  width: 101px;
  height: 95px;
}
.frameChild {
  position: relative;
  border-radius: 50%;
  background-color: var(--color-springgreen-200);
  width: 39px;
  height: 37px;
}
.frameIcon {
  position: relative;
  width: 18.07px;
  height: 18.07px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame,
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frameWrapper {
  border-radius: 43.02px;
  background-color: var(--color-springgreen-100);
  width: 28px;
  height: 26px;
  padding: 9.465116500854492px;
  box-sizing: border-box;
  justify-content: flex-start;
  margin-left: -28px;
}
.frame {
  width: 39px;
  height: 37px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-end;
}
.viewProfile {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 150%;
  display: inline-block;
  width: 139px;
  height: 26px;
  flex-shrink: 0;
}
.view {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 207px;
  left: 76px;
  width: 158px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  color: var(--color-springgreen-100);
}
.name,
.uplodedBy {
  margin: 0;
  position: absolute;
  font-weight: 400;
}
.name {
  top: 147px;
  left: 134px;
  font-size: var(--font-size-mid);
  font-family: var(--font-otomanopee-one);
  display: flex;
  align-items: center;
  width: 93px;
  height: 32px;
  -webkit-text-stroke: 1px #12280a;
}
.uplodedBy {
  top: 15px;
  left: 117px;
  font-size: var(--font-size-xl);
  font-family: var(--font-secular-one);
}
.uploader {
  position: absolute;
  top: 121px;
  left: 1008px;
  border-radius: var(--br-3xs);
  width: 347px;
  height: 280px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inter);
}
