.frame {
  position: absolute;
  top: 70px;
  left: 38px;
  width: 1283px;
  height: 438px;
  overflow: hidden;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 490px;
  margin-bottom: 20px; /* Add this line to place the pagination at the bottom */
}

.pageButton {
  background-color: #e0e0e0;
  border: none;
  color: #333;
  padding: 0px 2.5px;
  margin: 0 1px;
  cursor: pointer;
  border-radius: 1px;
  transition: background-color 0.3s ease;
  text-align: left;
}


.pageButton:hover {
  background-color: #ccc;
}

.currentPageButton {
  background-color: #1df659;
  border: none;
  color: #fff;
  padding: 0px 2.5px;
  margin: 0 1px;
  cursor: pointer;
  border-radius: 1px;
}

.bookSection {
  position: absolute;
  top: 250px;
  left: 11px;
  width: 100%;
  height: 438px;
}